#root {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: "BeVietnam Regular", sans-serif;
}

@font-face {
  font-family: "BeVietnam Regular";
  src: url("/fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BeVietnam SemiBold";
  src: url("/fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-family-reg: "BeVietnam Regular", sans-serif;
  --font-family-sb: "BeVietnam SemiBold", sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
